
    header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
    }
    
    
   nav {
    ul {padding-left: 2%;}
  
    a {padding: .7rem 2vw;}
   } 
    
    
    main {
        figure { width: 33%;}
    }
