
    nav{
        ul {
           
            display: flex;
           justify-content: space-between;
        }
    }
    
    header {
        h2 {
            visibility: visible;
        }
    }
   
    main {
    figure.body {
        float: right; 
        width: 50%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    figure.banner {
        width: 100%;
    }
}

    
