


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%; width: 200px;}
    nav ul li {width: auto;}
    
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

main {
    .columns {
        display: flex;
        h2 {
            margin: auto 1rem;
        }
        p {
            margin: auto 1rem;
        }
       
    }
}

/*----------- FOOTER --------------*/
    
