/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $fontFamily;
}


/*----------- HEADER --------------*/
header {
    display: flex;
    padding: .5rem 2%;
    background-color: $primaryColor;
    align-items: flex-end;
    
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal; padding-bottom: 3%;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: $primaryColor;

    button {
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem 2vw .5rem 1rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color:#000;

        span:nth-child(1){
            display:block;
        }
        span:nth-child(2){
            display:none;
        }
    }
    button.open {
        span:nth-child(1){
            display:none;
        }
        span:nth-child(2){
            display:block;
        }

    }
    button:hover {
        background-color: $primaryColor;
    }

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
ul {
    display: none;
}
ul.open {
display: block;
}
nav ul li {
    display: block;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li a {
    display: block;
    background-color: $primaryColor;
    color: black;
    padding: .5rem 0;
    text-decoration: none;
    
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;

    
}
section.gallery {
    figure {
        width: 100%;
        height: 0;
        padding-bottom: 66%;
        position: relative;
        margin: 1rem 0;
        img {
            width: 100%;
        height: auto;
        position: absolute;
        
        
        }

    }
    
    
}
figure.circle img {
    width: 90%;
    float: right;
    shape-outside: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
}
figure.right img {
    width: 90%;
    float: right;
    shape-outside: polygon(0 2%, 100% 2%, 100% 100%);
    clip-path: polygon(0 2%, 100% 2%, 100% 100%);
}

figure.triangle {
    img {
        width: 80%;
        float: right;
        
        shape-outside: polygon(0 100%, 50% 2%, 100% 100%);
        clip-path: polygon(0 100%, 50% 2%, 100% 100%);
    }
}

figure.arc img {
    width: 90%;
    float: right;
    shape-outside: circle(80% at 100% 0);
    clip-path: circle(80% at 100% 0);
}


/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}