main {
        max-width: 64rem;
        margin:auto;
}
nav {
        max-width: 100%;
      
}


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
