header, nav, main, footer {
        
        margin:auto;
}
main, nav, header, footer {
        max-width: 70rem;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav ul li a {
        font-size: .9rem;
        padding: .5rem 1.2rem;
}

/*----------- MAIN --------------*/



main {
        div.cards {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        
        }
    }
/*----------- FOOTER --------------*/
    
