header, nav, footer {
        max-width: 75rem;
        margin:auto;
}
main {
        div.banner, div.more, div.news, div.blackSection, div.brand {
                max-width: 75rem;
        margin:auto;

        }
        
}
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/


/*----------- FOOTER --------------*/
    
