header, footer, nav {
        max-width: 100%;
        margin:auto;
        
}
main {
        max-width: 80rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main {
        div.parent {
                grid-template-columns: 1fr 1fr 1fr 1fr;
        .lead {
                grid-column: 1 / span 3;
                grid-row: 1 / span 2;
        }

        }
        
}

/*----------- FOOTER --------------*/
    
footer {
        .footerP {
           
            grid-template-columns: 1fr 1fr 1fr 1fr;
            
        }
    }