
    header, nav, main, footer {
        max-width: 71.25rem;
        margin:auto;
    }
    
    
    
   nav {
    nav {
        display: flex;
        justify-content: end;
    }
    nav ul {
        display: flex;
       
        padding: 0;
        margin: 0;
    }
   } 
    
   div.parent {
    figure {
        flex-basis: 21%;
    }}