/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}






/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
}

header {
  
    display: grid;
    grid-template-columns: 100px, auto;
    padding: 1rem 2%;

}


nav {
    background-color: $primaryColor;
    ul{margin:0; padding: 0;}
    li {list-style-type: none;}
   
    
    a {
        background-color: darken($primaryColor, 10%);
        display: block;
        padding: .8rem 2vw; /*44px min*/
        color: #eee;
        text-align: right;
        text-decoration: none;
       
    }
    a:hover {background-color: lighten($primaryColor, 50%); text-decoration: underline;}

    li.active {
        background-color: lighten($primaryColor, 50%);
       }
   

}

div.parent {
    margin: 0;
    display:flex;
    flex-wrap:wrap;
   

    figure {
       
        flex-basis: 46%;
        margin: .5rem, 2%;

        img {
            width: 100%;
           
        }
    }


}

footer {
   background-color: $primaryColor;
   color: #eee;
    text-align: center;
    padding: 1rem 2%;
}




/*Don't Collapse*/
.nocollapse:after {
    content: "";
    display: table;
    clear: both;
  }