


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav {
    button {
        display: none;
    }
    ul, ul.open {
        display: flex;
            flex-basis: 25%;
        margin-left: 2%;}
}   

    
    nav ul li {width: auto;}
  
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
